<div class="min-h-screen bg-[#f8f2ec] flex items-center justify-center">
  <div class="my-10">
    <iframe src=" https://docs.google.com/forms/d/e/1FAIpQLSfvXHZrun5d2fQ57p7-XejGN21ZJhMtwYFEXhT9sh-yM3wiXw/viewform?embedded=true" width="640" height="984" frameborder="0" marginheight="0" marginwidth="0">
      読み込んでいます…
    </iframe>
  </div>
</div>