<footer class="bg-[#FFA500] p-4 flex justify-between items-center">
  <!-- 左側のテキスト -->
  <div class="text-sm text-black">
    © 2024 SunUpHabits All Rights Reserved.
  </div>

  <!-- 右側のリンク -->
  <nav>
    <ul class="flex space-x-6">
      <li><%= link_to "利用規約", terms_path, class: "text-lg text-black hover:text-[#C28742]" %></li>
      <li><%= link_to "プライバシーポリシー", privacy_path, class: "text-lg text-black hover:text-[#C28742]" %></li>
      <li><%= link_to "お問い合わせ", class: "text-sm text-black hover:text-[#C28742]" %></li>
    </ul>
  </nav>
</footer>