<header class="bg-[#FFA500] p-4 flex justify-between items-center">
  <!-- ロゴ -->
  <div class="text-2xl font-bold text-black ml-4">
    SunUpHabits
  </div>

  <!-- ナビゲーションリンク -->
  <nav class="mr-4">
    <ul class="flex space-x-6">
      <li><%= link_to "ログイン", class: "text-lg text-black hover:text-[#C28742]" %></li>
      <li><%= link_to "新規登録", class: "text-lg text-black hover:text-[#C28742]" %></li>
    </ul>
  </nav>
</header>